<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Python for Algorithmic Trading

**Chapter 03 &mdash; Working with Financial Data**

## Sample Data Set from Eikon

## Reading Financial Data From Different Sources

### The Data Set

In [43]:
from google.colab import drive
drive.mount('/content/drive')

print('drive/My Drive/data/AAPL.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
drive/My Drive/data/AAPL.csv

In [3]:
#fn = '../data/AAPL.csv'
fn = 'drive/My Drive/data/AAPL.csv'

In [4]:
with open(fn, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

### Reading from a CSV File with Python

In [5]:
import csv

In [6]:
csv_reader = csv.reader(open(fn, 'r'))

In [7]:
data = [l for l in csv_reader]

In [8]:
data[:5]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [9]:
csv_reader = csv.DictReader(open(fn, 'r'))

In [10]:
data = [l for l in csv_reader]

In [11]:
data[:3]

[OrderedDict([('Date', '2020-04-01'),
              ('HIGH', '248.72'),
              ('CLOSE', '240.91'),
              ('LOW', '239.13'),
              ('OPEN', '246.5'),
              ('COUNT', '460606.0'),
              ('VOLUME', '44054638.0')]),
 OrderedDict([('Date', '2020-04-02'),
              ('HIGH', '245.15'),
              ('CLOSE', '244.93'),
              ('LOW', '236.9'),
              ('OPEN', '240.34'),
              ('COUNT', '380294.0'),
              ('VOLUME', '41483493.0')]),
 OrderedDict([('Date', '2020-04-03'),
              ('HIGH', '245.7'),
              ('CLOSE', '241.41'),
              ('LOW', '238.9741'),
              ('OPEN', '242.8'),
              ('COUNT', '293699.0'),
              ('VOLUME', '32470017.0')])]

In [12]:
sum([float(l['CLOSE']) for l in data]) / len(data)

272.38619047619045

### Reading from a CSV File with pandas

In [13]:
import pandas as pd

In [14]:
data = pd.read_csv(fn, index_col=0,
                   parse_dates=True)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [16]:
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [17]:
data['CLOSE'].mean()

272.38619047619056

### Exporting to Excel and JSON

Create the local `data` folder if necessary via

    !mkdir data

In [18]:
#data.to_excel('data/aapl.xls', 'AAPL')
data.to_excel('drive/My Drive/data/aapl.xls', 'AAPL')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

In [19]:
#data.to_json('data/aapl.json')
data.to_json('drive/My Drive/data/aapl.json')

In [20]:
#ls -n data/
ls -n 'drive/My Drive/data/'

total 39
-rw------- 1 0 0 15557 Jul  8  2021 AAPL_1min_05052020.csv
-rw------- 1 0 0  1262 Jul  8  2021 AAPL.csv
-rw------- 1 0 0  3067 Jun 24 06:57 aapl.json
-rw------- 1 0 0  5632 Jun 24 06:57 aapl.xls
-rw------- 1 0 0 13659 Jul  8  2021 SPX_1min_05052020.csv

### Reading from Excel and JSON

In [23]:
!pip install xlrd>=1.2.0

In [24]:
#data_copy_1 = pd.read_excel('data/aapl.xls', 'AAPL',index_col=0)
data_copy_1 = pd.read_excel('drive/My Drive/data/aapl.xls', 'AAPL', index_col=0)

ImportError: ignored

In [25]:
data_copy_1.head()

NameError: ignored

In [26]:
#data_copy_2 = pd.read_json('data/aapl.json')
data_copy_2 = pd.read_json('drive/My Drive/data/aapl.json')

In [27]:
data_copy_2.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [ ]:
#!rm data/*

## Working with Open Data Sources

In [ ]:
import configparser
config = configparser.ConfigParser()
config.read('../pyalgo.cfg')

['../pyalgo.cfg']

In [ ]:
import quandl as q

In [28]:
#data = q.get('BCHAIN/MKPRU', api_key=config['quandl']['api_key'])
data = pd.read_csv('https://data.nasdaq.com/api/v3/datasets/BCHAIN/MKPRU.csv?api_key=py4JtKVtVGHist9rkxJH')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4922 entries, 0 to 4921
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4922 non-null   object
 1   Value   4922 non-null   float64
dtypes: float64(1), object(1)
memory usage: 77.0+ KB

In [32]:
data['Value'].resample('A').last()

TypeError: ignored

In [ ]:
data = q.get('FSE/SAP_X', start_date='2018-1-1',
             end_date='2020-05-01',
             api_key=config['quandl']['api_key'])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 579 entries, 2018-01-02 to 2020-04-30
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   257 non-null    float64
 1   High                   579 non-null    float64
 2   Low                    579 non-null    float64
 3   Close                  579 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          533 non-null    float64
 6   Turnover               533 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 49.8+ KB

In [ ]:
q.ApiConfig.api_key = config['quandl']['api_key']

In [33]:
#vol = q.get('VOL/MSFT')
vol = pd.read_csv('https://data.nasdaq.com/api/v3/datasets/VOL/MSFT.csv?api_key=py4JtKVtVGHist9rkxJH')

In [34]:
vol.iloc[:, :10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1006 non-null   object
 1   Hv10    1006 non-null   float64
 2   Hv20    1006 non-null   float64
 3   Hv30    1006 non-null   float64
 4   Hv60    1006 non-null   float64
 5   Hv90    1006 non-null   float64
 6   Hv120   1006 non-null   float64
 7   Hv150   1006 non-null   float64
 8   Hv180   1006 non-null   float64
 9   Phv10   1006 non-null   float64
dtypes: float64(9), object(1)
memory usage: 78.7+ KB

In [35]:
vol[['IvMean30', 'IvMean60', 'IvMean90']].tail()

      IvMean30  IvMean60  IvMean90
1001    0.2371    0.2136    0.2072
1002    0.2470    0.2236    0.2169
1003    0.2570    0.2369    0.2275
1004    0.2428    0.2250    0.2180
1005    0.2320    0.2048    0.2068

## Refinitiv Eikon Data API

`pip install eikon` &mdash; Requires a paid subscription.

In [ ]:
!pip install eikon
import eikon as ek

In [ ]:
ek.set_app_key(config['eikon']['app_key'])

2020-05-07 11:15:56,323 P[87076] [MainThread 4326989248] Error on handshake port 9000 : ReadTimeout(ReadTimeout())

In [ ]:
help(ek)

Help on package eikon:

NAME
    eikon - # coding: utf-8

PACKAGE CONTENTS
    Profile
    data_grid
    eikonError
    json_requests
    news_request
    streaming_session (package)
    symbology
    time_series
    tools

SUBMODULES
    cache
    desktop_session
    istream_callback
    itemstream
    session
    stream
    stream_connection
    streamingprice
    streamingprice_callback
    streamingprices

VERSION
    1.1.2

FILE
    /Users/yves/Python/lib/python3.7/site-packages/eikon/__init__.py

### Retrieving Historical Structured Data

In [55]:
import warnings; warnings.simplefilter('ignore')

In [56]:
symbols = ['AAPL.O', 'MSFT.O', 'GOOG.O']

In [57]:
data = ek.get_timeseries(symbols,
                         start_date='2020-01-01',
                         end_date='2020-05-01',
                         interval='daily',
                         fields=['*'])

NameError: ignored

In [58]:
data.keys()

Index(['Date', 'Value'], dtype='object')

In [ ]:
type(data['AAPL.O'])

pandas.core.frame.DataFrame

In [ ]:
data['AAPL.O'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 84 entries, 2020-01-02 to 2020-05-01
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    84 non-null     float64
 1   CLOSE   84 non-null     float64
 2   LOW     84 non-null     float64
 3   OPEN    84 non-null     float64
 4   COUNT   84 non-null     float64
 5   VOLUME  84 non-null     float64
dtypes: float64(6)
memory usage: 4.6 KB

In [ ]:
data['AAPL.O'].tail()

Field         HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0
2020-05-01  299.00  289.07  285.85  286.25  558319.0  60154175.0

In [ ]:
%%time
data = ek.get_timeseries(symbols,
                         start_date='2020-05-05',
                         end_date='2020-05-06',
                         interval='minute',
                         fields='*')

CPU times: user 44.2 ms, sys: 2.87 ms, total: 47.1 ms
Wall time: 10.7 s

In [ ]:
print(data['GOOG.O'].loc['2020-05-05 16:00:00':
                         '2020-05-05 16:04:00'].round(1))

Field                  HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2020-05-05 16:00:00  1367.4  1366.1  1366.4  1367.2   82.0  3308.0
2020-05-05 16:01:00  1369.0  1367.2  1367.4  1368.8  210.0  5455.0
2020-05-05 16:02:00  1369.5  1368.4  1368.8  1368.9  176.0  4900.0
2020-05-05 16:03:00  1369.8  1368.4  1369.2  1368.4  162.0  6133.0
2020-05-05 16:04:00  1369.3  1367.9  1368.4  1368.6  140.0  5080.0

In [ ]:
for sym in symbols:
    print('\n' + sym + '\n', data[sym].iloc[-300:-295].round(1))

AAPL.O
 Field                 HIGH    LOW   OPEN  CLOSE  COUNT   VOLUME
Date
2020-05-05 19:01:00  300.9  300.7  300.9  300.7  917.0  88059.0
2020-05-05 19:02:00  300.9  300.7  300.7  300.8  634.0  60998.0
2020-05-05 19:03:00  300.8  300.6  300.8  300.7  733.0  75349.0
2020-05-05 19:04:00  300.8  300.6  300.7  300.8  632.0  56220.0
2020-05-05 19:05:00  300.9  300.8  300.8  300.9  522.0  51194.0

MSFT.O
 Field                 HIGH    LOW   OPEN  CLOSE  COUNT   VOLUME
Date
2020-05-05 19:01:00  183.6  183.5  183.6  183.5  679.0  73198.0
2020-05-05 19:02:00  183.6  183.5  183.5  183.6  595.0  79593.0
2020-05-05 19:03:00  183.6  183.5  183.6  183.6  505.0  61200.0
2020-05-05 19:04:00  183.6  183.5  183.6  183.6  357.0  27781.0
2020-05-05 19:05:00  183.6  183.6  183.6  183.6  592.0  54057.0

GOOG.O
 Field                  HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2020-05-05 19:01:00  1369.8  1368.7  1369.5  1369.0  158.0  5056.0
2020-05-05 19:02:00  1369.6  1368.7  1368.9  1368.9   32.0   950.0
2020-05-05 19:03:00  1369.5  1367.9  1369.3  1368.4  174.0  5186.0
2020-05-05 19:04:00  1369.2  1368.0  1368.8  1368.7   76.0  2809.0
2020-05-05 19:05:00  1369.6  1368.7  1368.7  1369.0   46.0  1186.0

In [ ]:
%%time
data = ek.get_timeseries(symbols[0],
                         start_date='2020-05-05 15:00:00',
                         end_date='2020-05-05 16:00:00',
                         interval='tick',
                         fields=['*'])

CPU times: user 219 ms, sys: 16.1 ms, total: 235 ms
Wall time: 7.34 s

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 39869 entries, 2020-05-05 15:00:00.012000 to 2020-05-05 15:59:59.973000
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VALUE   39818 non-null  float64
 1   VOLUME  39869 non-null  float64
dtypes: float64(2)
memory usage: 934.4 KB

In [ ]:
data.head()

AAPL.O                    VALUE  VOLUME
Date
2020-05-05 15:00:00.012  298.05   100.0
2020-05-05 15:00:00.013  298.05   100.0
2020-05-05 15:00:00.013  298.05    60.0
2020-05-05 15:00:00.013  298.05    40.0
2020-05-05 15:00:00.013  298.05    56.0

In [ ]:
resampled = data.resample('30s', label='right').agg(
            {'VALUE': 'last', 'VOLUME': 'sum'}) # <6>

In [ ]:
resampled.tail()

                        VALUE   VOLUME
Date
2020-05-05 15:58:00  298.8750  11129.0
2020-05-05 15:58:30  298.9601  19818.0
2020-05-05 15:59:00  298.9000  18750.0
2020-05-05 15:59:30  298.9700  28733.0
2020-05-05 16:00:00  298.8900  24757.0

### Retrieving Historical Unstructured Data

In [ ]:
headlines = ek.get_news_headlines(query='R:AAPL.O macbook',
                                  count=5,
                                  date_from='2020-4-1',
                                  date_to='2020-5-1')

In [54]:
headlines

NameError: ignored

In [ ]:
story = headlines.iloc[0]

In [ ]:
story

versionCreated                     2020-04-20 21:33:37.332000+00:00
text              Apple said to launch new AirPods, MacBook Pro ...
storyId                urn:newsml:reuters.com:20200420:nNRAble9rq:1
sourceCode                                                NS:TIMIND
Name: 2020-04-20 21:33:37.332000, dtype: object

In [ ]:
news_text = ek.get_news_story(story['storyId'])

In [ ]:
from IPython.display import HTML

In [ ]:
HTML(news_text)

## Storing Financial Data Efficiently

### Storing DataFrame Objects

In [61]:
#from sample_data import generate_sample_data

import numpy as np

r = 0.05  # constant short rate
sigma = 0.5  # volatility factor


def generate_sample_data(rows, cols, freq='1min'):
    '''
    Function to generate sample financial data.

    Parameters
    ==========
    rows: int
        number of rows to generate
    cols: int
        number of columns to generate
    freq: str
        frequency string for DatetimeIndex

    Returns
    =======
    df: DataFrame
        DataFrame object with the sample data
    '''
    rows = int(rows)
    cols = int(cols)
    # generate a DatetimeIndex object given the frequency
    index = pd.date_range('2021-1-1', periods=rows, freq=freq)
    # determine time delta in year fractions
    dt = (index[1] - index[0]) / pd.Timedelta(value='365D')
    # generate column names
    columns = ['No%d' % i for i in range(cols)]
    # generate sample paths for geometric Brownian motion
    raw = np.exp(np.cumsum((r - 0.5 * sigma ** 2) * dt +
                 sigma * np.sqrt(dt) *
                 np.random.standard_normal((rows, cols)), axis=0))
    # normalize the data to start at 100
    raw = raw / raw[0] * 100
    # generate the DataFrame object
    df = pd.DataFrame(raw, index=index, columns=columns)
    return df

In [62]:
print(generate_sample_data(rows=5, cols=4))

                            No0         No1         No2         No3
2021-01-01 00:00:00  100.000000  100.000000  100.000000  100.000000
2021-01-01 00:01:00  100.088370  100.087980  100.043875  100.027866
2021-01-01 00:02:00  100.043105  100.023261   99.943041   99.990122
2021-01-01 00:03:00  100.072823  100.239986   99.934018  100.026151
2021-01-01 00:04:00  100.095606  100.262968  100.006525  100.049560

In [63]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: user 5.16 s, sys: 379 ms, total: 5.54 s
Wall time: 5.51 s

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [65]:
#h5 = pd.HDFStore('data/data.h5', 'w')
h5 = pd.HDFStore('drive/My Drive/data/data.h5', 'w')

In [66]:
%time h5['data'] = data

CPU times: user 272 ms, sys: 319 ms, total: 591 ms
Wall time: 1.79 s

In [67]:
h5

<class 'pandas.io.pytables.HDFStore'>
File path: drive/My Drive/data/data.h5

In [69]:
#ls -n data/data.*

In [70]:
h5.close()

In [72]:
#h5 = pd.HDFStore('data/data.h5', 'r')
h5 = pd.HDFStore('drive/My Drive/data/data.h5', 'r')

In [73]:
%time data_copy = h5['data']

CPU times: user 549 ms, sys: 255 ms, total: 804 ms
Wall time: 1.24 s

In [74]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [75]:
h5.close()

In [76]:
#rm data/data.h5

In [80]:
#%time data.to_hdf('data/data.h5', 'data', format='table')
%time data.to_hdf('drive/My Drive/data/data.h5', 'data', format='table')

CPU times: user 5.09 s, sys: 1.31 s, total: 6.4 s
Wall time: 10.3 s

In [81]:
#ls -n data/data.*

In [82]:
#%time data_copy = pd.read_hdf('data/data.h5', 'data')
%time data_copy = pd.read_hdf('drive/My Drive/data/data.h5', 'data')

CPU times: user 176 ms, sys: 395 ms, total: 571 ms
Wall time: 985 ms

In [83]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [84]:
import tables as tb

In [85]:
#h5 = tb.open_file('data/data.h5', 'r')
h5 = tb.open_file('drive/My Drive/data/data.h5', 'r')

In [86]:
h5

File(filename=drive/My Drive/data/data.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group) ''
/data/table (Table(5000000,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(10,), dflt=0.0, pos=1)}
  byteorder := 'little'
  chunkshape := (2978,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [87]:
h5.root.data.table[:3]

array([(1609459200000000000, [100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    ]),
       (1609459260000000000, [100.1116,  99.997 , 100.0061,  99.8752,  99.9603, 100.0475,  99.9989,  99.9766,  99.9486, 100.0605]),
       (1609459320000000000, [100.1364, 100.0932, 100.1041,  99.8131,  99.8743, 100.0821, 100.0209, 100.0512, 100.0384, 100.0085])],
      dtype=[('index', '<i8'), ('values_block_0', '<f8', (10,))])

In [88]:
h5.close()

In [ ]:
rm data/data.h5

### Using TsTables

In [89]:
%%time
data = generate_sample_data(rows=2.5e6, cols=5,
                            freq='1s').round(4)

CPU times: user 1.13 s, sys: 65.7 ms, total: 1.2 s
Wall time: 1.2 s

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: S
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
dtypes: float64(5)
memory usage: 114.4 MB

In [92]:
!pip install tstables
import tstables

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tstables
  Downloading tstables-0.0.15.tar.gz (11 kB)
Requirement already satisfied: tables>=3.1.1 in /usr/local/lib/python3.7/dist-packages (from tstables) (3.7.0)
Requirement already satisfied: pandas>=0.13.1 in /usr/local/lib/python3.7/dist-packages (from tstables) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.13.1->tstables) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.13.1->tstables) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.13.1->tstables) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.13.1->tstables) (1.15.0)
Requirement already satisfied: numexpr>=2.6.2 in /usr/local/lib/python3.7/dist-packages (from tables>=3.1.1->tstables) (2.8.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tables>=3.1.1->tstables) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tables>=3.1.1->tstables) (3.0.9)
Building wheels for collected packages: tstables
  Building wheel for tstables (setup.py) ... done
  Created wheel for tstables: filename=tstables-0.0.15-py3-none-any.whl size=11780 sha256=c676246521a6cd3c030ae6b5b08a9d5b574e82a3ca88c92bd0ea26bfb1a8b92f
  Stored in directory: /root/.cache/pip/wheels/57/6f/74/10900d9dfc26fc32465301df59e734a038b9ffd8bc1875d2ee
Successfully built tstables
Installing collected packages: tstables
Successfully installed tstables-0.0.15

In [93]:
import tables as tb

In [94]:
class desc(tb.IsDescription):
    ''' Description of TsTables table structure.
    '''
    timestamp = tb.Int64Col(pos=0)
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [95]:
#h5 = tb.open_file('data/data.h5ts', 'w')
h5 = tb.open_file('drive/My Drive/data/data.h5ts', 'w')

In [97]:
ts = h5.create_ts('/', 'data', desc)

In [ ]:
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2020 (Group) ''
/data/y2020/m05 (Group) ''
/data/y2020/m05/d07 (Group) ''
/data/y2020/m05/d07/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [98]:
%time ts.append(data)

AttributeError: ignored

In [99]:
# h5

In [100]:
import datetime

In [101]:
start = datetime.datetime(2021, 1, 2)

In [102]:
end = datetime.datetime(2021, 1, 3)

In [103]:
%time subset = ts.read_range(start, end)

ValueError: ignored

In [104]:
start = datetime.datetime(2021, 1, 2, 12, 30, 0)

In [105]:
end = datetime.datetime(2021, 1, 5, 17, 15, 30)

In [106]:
%time subset = ts.read_range(start, end)

ValueError: ignored

In [107]:
subset.info()

NameError: ignored

In [109]:
h5.close()

In [108]:
rm data/*

rm: cannot remove 'data/*': No such file or directory

### Storing Data with SQLite3

In [110]:
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: user 459 ms, sys: 5.51 ms, total: 465 ms
Wall time: 473 ms

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2021-01-01 00:00:00 to 2022-11-26 10:39:00
Freq: T
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   No0     1000000 non-null  float64
 1   No1     1000000 non-null  float64
 2   No2     1000000 non-null  float64
 3   No3     1000000 non-null  float64
 4   No4     1000000 non-null  float64
dtypes: float64(5)
memory usage: 45.8 MB

In [112]:
import sqlite3 as sq3

In [114]:
#con = sq3.connect('data/data.sql')
con = sq3.connect('drive/My Drive/data/data.sql')

In [115]:
%time data.to_sql('data', con)

CPU times: user 8.34 s, sys: 1.03 s, total: 9.37 s
Wall time: 15.5 s

In [ ]:
#ls -n data/data.*

-rw-r--r--@ 1 501  20  105316352 May  7 11:16 data/data.sql

In [116]:
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'

In [117]:
%time res = con.execute(query).fetchall()

CPU times: user 102 ms, sys: 88 ms, total: 190 ms
Wall time: 304 ms

In [118]:
res[:5]

[('2021-01-01 21:39:00', 99.3852, 105.0056, 95.2994, 97.1742, 97.7994),
 ('2021-01-01 21:41:00', 99.5009, 105.0832, 95.3208, 97.1459, 97.8352),
 ('2021-01-01 21:42:00', 99.6041, 105.0561, 95.2686, 97.0916, 97.8553),
 ('2021-01-01 22:06:00', 99.6937, 105.0477, 95.2919, 97.5737, 98.0756),
 ('2021-01-01 22:07:00', 99.656, 105.0268, 95.1918, 97.6039, 98.0826)]

In [119]:
len(res)

2705

In [120]:
con.close()

In [ ]:
rm data/*

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:training@tpq.io">training@tpq.io</a>